---
title: "Events"
layout: default
---

<div class="row">

{% if site.categories.events.size == 0 %}

  <p>No events available at the moment. Please check back later.</p>

{% else %}

  {% for post in site.categories.events %}

  <div class="blog-post">
    <h2 class="blog-post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="blog-post-meta">
      {{ post.date | date_to_string }} by 
      <a href="{{ post.url }}">{{ post.author }}</a>
    </p>

    {{ post.excerpt }}

  </div>

  {% endfor %}

{% endif %}

</div>
