beautifulsoup4==4.12.3
bertopic==0.16.2
deep_translator==1.11.4
gdown==5.2.0
hdbscan==0.8.36
ipykernel==6.29.3
ipython==8.12.3
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==3.1.1
keybert==0.8.5
langid==1.1.6
lightgbm==4.4.0
llama_cpp_python==0.2.82
matplotlib~=3.8.3
networkx==3.2.1
nltk==3.8.1
numpy~=1.26.4
openTSNE==1.0.1
pandas~=2.2.1
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.12.0
gensim==4.3.2
seaborn==0.13.2
sentence_transformers==3.0.1
tensorflow-intel==2.16.1
tqdm==4.66.2
transformers==4.39.3
umap_learn==0.5.6
wordcloud==1.9.3
squarify==0.4.3
torch==2.2.2
pyarrow==15.0.2
